installmethod: "{{ installmethod }}"
irixversion: "{{ irixversion }}"
installmirror: "{{ installmirror }}"
clientname: "{{ clientname }}"
clientdomain: "{{ clientdomain }}"
clientip: "{{ clientip }}"
clientether: "{{ clientether }}"
netmask: "{{ netmask }}"
network: "{{ network }}"
hostip: "{{ hostip }}"
myuser: "{{ myuser }}"
myshell: "{{ myshell }}"
current_dir: "{{ current_dir }}"
foundation_baseurl: "{{ foundation_baseurl }}"
foundation_disc1: "{{ foundation_disc1 }}"
foundation_disc2: "{{ foundation_disc2 }}"
foundation_nfs: "{{ foundation_nfs }}"
overlay_baseurl: "{{ overlay_baseurl }}"
overlay_apps: "{{ overlay_apps }}"
overlay_capps: "{{ overlay_capps }}"
overlay_disc1: "{{ overlay_disc1 }}"
overlay_disc2: "{{ overlay_disc2 }}"
overlay_disc3: "{{ overlay_disc3 }}"
devel_baseurl: "{{ devel_baseurl }}"
devel_devlibs: "{{ devel_devlibs }}"
devel_devfoundations: "{{ devel_devfoundations }}"
devel_mipspro: "{{ devel_mipspro }}"
devel_update: "{{ devel_update }}"
devel_c: "{{ devel_c }}"
devel_cee: "{{ devel_cee }}"
devel_cpp: "{{ devel_cpp }}"
devel_ap: "{{ devel_ap }}"
devel_prodev: "{{ devel_prodev }}"
extras_baseurl: "{{ extras_baseurl }}"
extras_perfcopilot: "{{ extras_perfcopilot }}"
extras_sgifonts: "{{ extras_sgifonts }}"
