# this file was created by booterizer
#

allow booting;
allow bootp;

subnet {{ network }} netmask {{ netmask }} { ignore unknown-clients; allow bootp; }

host {{ clientname }} {
	hardware ethernet {{ clientether }};
	fixed-address {{ clientip }} ;
	option domain-name-servers {{ hostip }};
	option domain-name "{{ clientdomain }}";  
	server-name "{{ hostip }}";
    next-server {{ hostip }};
	}

# booterizer-created-{{ ansible_date_time.iso8601 }}

