- name: create /vagrant/irix
  file:
    path: /vagrant/irix
    state: directory
  when: rpi is defined

- name: symlink from /vagrant/irix to /irix
  file:
    src: /vagrant/irix
    path: /irix
    state: link
